@use "../../../../../abstracts" as *;

.entityContainerTagsContainer {
  @include flexCenter(row);
  width: 100%;
  gap: 1rem;
}

.entityContainerTagsList {
  @include flexCenter(row);
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: 2rem;
  row-gap: 1rem;
  list-style: none;
}
