@use "../../../../../abstracts" as *;

.entityContainerTagsContainer {
  @include flexCenter(row);
  width: 100%;
}

.entityContainerTagsList {
  @include flexCenter(row);
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: 2rem;
  row-gap: 1rem;
  list-style: none;
}

.entityContainerTagsShowButton {
  @include flexCenter(row);
  align-self: center;
  background-color: inherit;
  border: none;
  color: getColor("main-pastel-red");
  font-size: 14px;
  font-weight: 550;
  letter-spacing: 0.5px;
}
