@use "../../../../../abstracts" as *;

.entityContainerTagsContainer {
  @include flexCenter(row);
  width: 100%;
}

.entityContainerTagsList {
  @include flexCenter(row);
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: 2rem;
  row-gap: 1rem;
  list-style: none;

  > p {
    @include paragraph("laptop", "black");
    letter-spacing: 1px;
  }
}

.entityContainerTagsShowButton {
  @include flexCenter(row);
  align-self: center;
  background-color: inherit;
  border: none;
  color: getColor("main-pastel-red");
  font-size: 14px;
  font-weight: 550;
  letter-spacing: 0.5px;

  transition: transform 0.15s ease-in;

  &:hover {
    transform: scale(1.1);
  }
}

.entityContainerTagsOptions {
  @include flexCenter(row);
  align-self: center;
  gap: 1rem;
}
