@use "../../../../abstracts" as *;

.searchBarContainer {
  @include flexCenter(row);
  justify-content: flex-start;
  width: 100%;

  min-height: 3rem;

  padding: 1rem;

  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;

  background-color: getColor("secondary-pastel-cyan");
}

.searchBarFormControls {
  @include flexCenter(row);
  align-items: flex-start;
}
