@use "../../../../abstracts" as *;

.homeContactOptionContainer {
  @include flexCenter(column);
  width: 100%;
  gap: 3rem;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: getColor("secondary-pastel-cyan");

  > h5 {
    @include heading("h5", "laptop", "black");
    font-weight: 550;
    letter-spacing: 1px;
  }

  > p {
    @include paragraph("laptop", "black");
    letter-spacing: 0.5px;
  }
}
