@use "../../../abstracts" as *;

.homeExamplesContainer {
  @include flexCenter(column);
  width: 100%;
  gap: 8rem;

  padding: 4rem;
  padding-top: 6rem;
  padding-bottom: 8rem;

  border-radius: 0.5rem;

  background-color: getColor("main-dark-blue");
}

.homeExamplesDetails {
  @include flexCenter(column);
  width: 100%;
  gap: 3rem;

  > h3 {
    @include heading("h3", "laptop", "white");
    letter-spacing: 1.5px;
  }
}

.homeExamplesDescription {
  @include flexCenter(column);
  width: 100%;
  gap: 1.5rem;

  > p {
    @include paragraph("laptop", "white");
    width: 80%;
    text-align: center;
  }
}

.homeExamplesExampleContainer {
  @include flexCenter(column);
  width: 100%;
  gap: 4rem;
}

.homeExamplesExampleDetails {
  @include flexCenter(row);
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
