@use "../../../abstracts" as *;

.footerBarContainer {
  @include flexCenter(row);
  width: 100%;
  justify-content: space-between;
}

.footerBarCopyright {
  @include flexCenter(column);
  align-items: flex-start;
  width: auto;
  gap: 0.5rem;

  > p {
    color: getColor("main-white");

    font-size: getFontSize("button-heading-2");
    letter-spacing: 0.5px;
    letter-spacing: 1px;
  }
}

.footerBarCopyrightLogo {
  @include flexCenter(row);
  justify-content: flex-start;
  width: 100%;
  gap: 1rem;

  > p {
    @include paragraph("laptop", "white");
    letter-spacing: 1px;
  }
}
