@use "../../../abstracts" as *;

.footerContainer {
  @include flexCenter(column);
  position: relative;
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: getColor("main-dark-blue");
  padding: 4rem;
  padding-top: 8rem;
  gap: 8rem;
}
