@use "../../../abstracts" as *;

.closeInterfaceButtonContainer {
  @include flexCenter(column);
  width: 100%;

  > svg {
    cursor: pointer;
    align-self: flex-end;
    font-size: 2rem;
    transition: transform 0.2s ease-in;

    color: getColor("main-pastel-red");

    &:hover {
      transform: rotate(5deg) scale(1.1);
    }
  }
}
