@use "../../../abstracts" as *;

.logoContainer {
  @include flexCenter(row);
  gap: 0.5rem;
  background-color: none;
  border-radius: 0.5rem;
  transition: transform 0.2s linear;

  &:hover {
    transform: scale(1.1);
  }

  > img {
    border-radius: 0.5rem;
  }
}
