@use "../../../abstracts" as *;

.navButtonContainer {
  @include flexCenter(row);
  padding: 1rem;
  border-radius: 50%;

  transition:
    transform 0.2s ease-in,
    opacity 0.25s ease-in,
    background-color 0.2s ease-in,
    color 0.25s ease-in;

  opacity: 0;
  display: none;

  z-index: 50;

  > svg {
    border-radius: 50%;
    font-size: 4rem;
    color: inherit;
  }

  &:hover {
    transform: scale(1.1);
    color: getColor("main-pastel-red") !important;
  }
}
