@use "../../../abstracts" as *;

.pageSectionTitleContainer {
  @include flexCenter(column);
  width: 100%;
  gap: 3rem;

  > hr {
    border: none;
    height: 2px;
    border-radius: 0.5rem;
    width: 80%;
    background-color: getColor("main-white");
  }

  > h3 {
    @include heading("h3", "laptop", "white");
    letter-spacing: 1.5px;
  }
}

.pageSectionTitleDescription {
  @include flexCenter(column);
  width: 100%;
  gap: 2rem;

  > p {
    @include paragraph("laptop", "white");
    width: 80%;
    text-align: center;
  }
}
