* {
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  background-color: #d54e5d;
}

::-webkit-scrollbar-track {
  background-color: #83cec8;
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: relative;

  width: 100%;
  min-height: 100vh;
  height: 100%;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

button:focus-visible {
  outline: 2.5px solid #ff0000;
}

input:focus-visible {
  outline: 2.5px solid #ff0000;
}

textarea:focus-visible {
  outline: 2.5px solid #ff0000;
}

select:focus-visible {
  outline: 2.5px solid #ff0000;
}

.prev {
  transform: translateX(-100%);
  filter: blur(0px);
  opacity: 0;

  transition:
    transform 0.35s ease-in-out,
    opacity 0.4s ease-in,
    filter 0.35s ease-in-out;
}

.current {
  transform: translateX(0%);
  filter: blur(0px);
  opacity: 1;

  transition:
    transform 0.35s ease-in-out,
    opacity 0.4s ease-in,
    filter 0.35s ease-in-out;
}

.next {
  transform: translateX(100%);
  filter: blur(0px);
  opacity: 0;

  transition:
    transform 0.35s ease-in-out,
    opacity 0.4s ease-in,
    filter 0.35s ease-in-out;
}
