$colors: (
  "main-light-blue": #83cec8,
  "main-pastel-red": #d54e5d,
  "main-dark-blue": #04122c,
  "main-white": #d8e5e4,
  "main-black-100": #110608,
  "main-black-75": #110608,
  "main-light-blue-white": #a9c2c0,
  "secondary-white": #f1faf9,
  "secondary-pastel-pink": #f18d8d,
  "secondary-pastel-green": #0a7052,
  "secondary-pastel-cyan": #2899a0,
  "secondary-pastel-dark-blue": #18607b,
  "create-green": #008000,
  "resume-green": #00d500,
  "link-blue": #002bff,
  "delete-red": #ff0000,
  "resume-yellow": #adad00,
  "bright-resume-yellow": #ffff00,
  "warning-yellow": #ffcc00,
);

$fontSizes: (
  "button-heading": 20px,
  "button-heading-2": 16px,
  "p-laptop": 21px,
  "p-tablet": 18px,
  "p-phone": 18px,
  "h1-laptop": 117.8px,
  "h2-laptop": 88.4px,
  "h3-laptop": 66.3px,
  "h4-laptop": 49.7px,
  "h5-laptop": 37.3px,
  "h6-laptop": 28px,
  "h1-tablet": 101px,
  "h2-tablet": 75.8px,
  "h3-tablet": 56.8px,
  "h4-tablet": 42.6px,
  "h5-tablet": 32px,
  "h6-tablet": 24px,
  "h1-phone": 68.7px,
  "h2-phone": 54.9px,
  "h3-phone": 44px,
  "h4-phone": 35.2px,
  "h5-phone": 28.1px,
  "h6-phone": 22.5px,
);

$screenSizes: (
  "big": 2560px,
  "normal": 1920px,
  "laptopL": 1440px,
  "laptop": 1024px,
  "tablet": 768px,
  "mobileL": 425px,
  "mobileM": 375px,
  "mobileS": 320px,
);
