@use "../../../../../abstracts" as *;

.carouselContainer {
  @include flexCenter(row);
  position: relative;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  margin-bottom: 10rem;
}
