@use "../../../../../abstracts" as *;

.carouselNavigationContainer {
  @include flexCenter(row);
  justify-content: space-between;
  width: 80%;
  margin-top: auto;

  > svg {
    font-size: 2rem;
  }
}

.carouselNavigationButtons {
  @include flexCenter(row);
  list-style: none;
  gap: 2rem;

  > li {
    @include heading("h6", "laptop", "white");
    font-weight: 550;
    cursor: pointer;

    transition:
      transform 0.2s ease-in,
      color 0.5s linear;

    &:hover {
      transform: scale(1.3);
    }
  }
}
