@use "../../../../../abstracts" as *;

.entityImageContainer {
  @include flexCenter(row);
  position: relative;
  justify-content: flex-start;
  width: 100%;
  gap: 4rem;

  > p {
    @include paragraph("laptop", "black");

    transition: color 0.2s ease-in;
  }
}

.entityImage {
  @include flexCenter(row);
  position: relative;
  justify-content: flex-start;
  width: 100%;
  height: 17.5rem;

  transition: height 0.2s linear;

  overflow: hidden;

  > img {
    position: absolute;

    &:hover {
      transition: transform 0.15s ease-in;

      transform: scale(1.035);
    }
  }
}
