@use "../../../../../abstracts" as *;

.entityImagesContainer {
  @include flexCenter(column);
  position: relative;
  align-items: flex-start;
  max-width: 50%;
  min-width: 37.5rem;
  gap: 1rem;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: getColor("main-white");

  transition-delay: 100ms;

  overflow: hidden;
}
