@use "../../../../../abstracts" as *;

.itemContainer {
  @include flexCenter(column);
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: 2rem;

  > h6 {
    @include heading("h6", "laptop", "black");
    letter-spacing: 0.5px;
  }
}

.itemImages {
  @include flexCenter(row);
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: 5rem;
  list-style: none;

  > li {
    @include flexCenter(row);
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;

    > img {
      width: 12rem;
      height: auto;

      transition: transform 0.15s ease-in;

      cursor: pointer;

      &:hover {
        transform: rotate(-5deg) scale(1.005);
      }
    }
  }
}
