@use "../../../../../abstracts" as *;

.entityImagesOverlayContainer {
  @include flexCenter(column);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: getColorWithOpacity("main-dark-blue", 0.95);

  padding: 4rem 8rem;
  padding-bottom: 6rem;

  transition:
    transform 0.2s ease-in,
    opacity 0.2s ease-in;

  opacity: 0;
  transform: scale(0);
}
