@use "../../../../abstracts" as *;

.homeRankingsListContainer {
  @include flexCenter(column);
  width: 100%;

  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0px;
    visibility: hidden;
  }
}
