@use "../../../abstracts" as *;

.sectionContainer {
  @include flexCenter(column);
  position: relative;
  width: 100%;
  gap: 4rem;

  padding: 4rem;
  padding-bottom: 6rem;

  border-radius: 0.5rem;

  background-color: getColor("main-dark-blue");
}

.sectionContent {
  @include flexCenter(column);
  width: 100%;
  gap: 8rem;
}

.sectionSettings {
  @include flexCenter(row);
  justify-content: space-between;
  width: 100%;
}

.sectionTitle {
  @include flexCenter(column);
  width: 100%;
  gap: 4rem;
}
