@use "../../../../abstracts" as *;

.tagComponentContainer {
  @include flexCenter(row);
  padding: 0.5rem 1rem;
  letter-spacing: 0.75px;
  height: 100%;

  border-radius: 0.25rem;

  transition: transform 0.15s ease-in;

  &:hover {
    transform: scale(1.05);
  }
}
