@use "../../../../abstracts" as *;

.tagsListContainer {
  @include flexCenter(row);
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  row-gap: 1rem;
  list-style: none;

  > p {
    @include paragraph("laptop", "black");
    letter-spacing: 0.5px;
  }
}
