@use "../../../abstracts" as *;

.selectFormControlContainer {
  @include flexCenter(row);
  justify-content: space-between;
  width: 100%;
  height: auto;
  gap: 0.5rem;

  label {
    @include paragraph("laptop", "black");
    font-weight: 550;
    letter-spacing: 1px;
  }

  select {
    background-color: getColor("main-light-blue");
    border-radius: 0.25rem;
    border: none;
    padding: 0.5rem;
    font-size: getFontSize("button-heading");

    transition: transform 0.15s ease-in;
    &:hover {
      transform: scale(1.03);
    }
  }

  p {
    border-radius: 0.25rem;
    border: none;
    padding: 0.5rem;
    font-size: getFontSize("button-heading");

    transition: transform 0.15s ease-in;

    &:hover {
      transform: scale(1.03);
    }
  }
}
