@use "../../../abstracts" as *;

.sideBarButtonsContainer {
  @include flexCenter(column);
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  list-style: none;

  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0px;
    visibility: hidden;
  }

  > li {
    @include flexCenter(row);
    position: relative;
    width: 100%;
  }
}
