@use "../../../../../abstracts" as *;

.tagsOptionsContainer {
  @include flexCenter(row);
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  align-self: center;
  gap: 1rem;
}
