@use "../../../../../abstracts" as *;

.modalContainer {
  @include flexCenter(column);
  position: absolute;
  gap: 2.5rem;
  bottom: 0;
  bottom: 1.5rem;

  min-width: 30rem;
  max-width: 40rem;

  border-radius: 0.25rem;

  background-color: getColorWithOpacity("main-light-blue", 0.8);
  backdrop-filter: blur(10px);

  box-shadow: 0 10px 35px getColorWithOpacity("main-black-100", 0.4);

  transition:
    transform 0.175s linear,
    opacity 0.2s ease-in;

  opacity: 0;
  display: none;
  transform: translateY(-100%);

  padding: 1rem;
  z-index: 102;
}
