@use "../../../../abstracts" as *;

.entityViewContainer {
  @include flexCenter(row);
  position: relative;
  width: 100%;
  height: 43rem;
  gap: 10rem;
}

.entityViewContent {
  @include flexCenter(column);
  position: absolute;
  width: 100%;
  gap: 4rem;
}
