@use "../../../../abstracts" as *;

.entityViewContainer {
  @include flexCenter(row);
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: 45rem;
  gap: 10rem;

  transition: height 0.2s linear;
}

.entityViewContent {
  @include flexCenter(column);
  align-items: flex-start;
  position: absolute;
  width: 100%;
  gap: 4rem;
}
