@use "../../../../abstracts" as *;

.settingContainer {
  @include flexCenter(row);
  align-self: flex-end;

  padding: 0.5rem 1rem;

  border-radius: 0.5rem;

  background-color: getColor("main-white");
}
